body {
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
}

main {
    background-color: white;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

section {
    margin-bottom: 2em;
}

.question {
    color: navy;
}