$yellow: #FFCE00;
$blue: #025482;
$darkblue: #024469;
$green: #007849;
$red: #C30916;
$gray: #efefef;
body {
    background-color: $darkblue;
    color: white;
}

form {
    background-color: $blue;
    button {
        background-color: $yellow;
    }
    button:hover {
        background-color: darken($yellow, 5%);
    }
}

a {
    color: white;
}

.stats-box {
    background-color: $blue;
}

.trivia-container {
    background-color: $blue;
    .answer {
        background-color: $yellow;
        color: black;
    }
    @media only screen and (min-width: 600px) {
        &:not(.done) .answer {
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: darken($yellow, 2.5%);
                box-shadow: 0 5px 11px 0 rgba(1, 34, 52, 0.26), 0 4px 15px 0 rgba(1, 34, 52, 0.26);
            }
        }
    }
}

.btn {
    background-color: $gray;
    color: black;
    &:hover {
        background-color: darken($gray, 5%);
    }
}

.goodbye-div {
    .play-again {
        background-color: $yellow;
        &:hover,
        &:focus {
            background-color: darken($yellow, 2.5%);
            box-shadow: 0 5px 11px 0 rgba(1, 34, 52, 0.26), 0 4px 15px 0 rgba(1, 34, 52, 0.26);
        }
    }
}