$yellow: #FFCE00;
$blue: #025482;
$darkblue: #024469;
$green: #007849;
$red: #C30916;
$gray: #efefef;
body {
    background-color: $darkblue;
    color: white;
}

form {
    background-color: $blue;
    button {
        background-color: $yellow;
    }
    button:hover {
        background-color: darken($yellow, 5%);
    }
}

a {
    color: white;
}

.stats-box {
    background-color: $blue;
}

.trivia-container {
    background-color: $blue;
    .answer {
        background-color: $yellow;
        color: black;
    }
    &:not(.done) .answer {
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: darken($yellow, 5%);
        }
    }
}

.btn {
    background-color: $gray;
    color: black;
    &:hover {
        background-color: darken($gray, 5%);
    }
}