*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    margin: 1rem auto;
}

form {
    width: 90%;
    margin: auto;
    padding: 1rem;
    border-radius: 4px;
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
    }
    input,
    select {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 4px;
        border: none;
    }
    button {
        margin-top: 2em;
        border-radius: 4px;
        border: none;
        padding: 1rem;
        width: 100%; //makes button full width of form
    }
}

footer {
    width: 90%;
    margin: 1rem auto;
}


/*Styling the trivia question page below*/

body {
    width: 90%;
    margin: auto;
}

.stats-box {
    margin-top: 1rem;
    padding: 1rem;
    width: 50%;
    border-radius: 4px;
}

.trivia-container {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 4px;
    .question-div {
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    .answer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
    .answer {
        padding: 1rem;
        border-radius: 4px;
        width: 100%;
    }
}

.btn-container {
    margin-top: 2rem;
    .btn {
        border-radius: 4px;
        padding: 1rem;
        display: block;
        grid-column: 2;
    }
    display: none;
}

.done .btn-container {
    display: block;
    @media only screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}