/*Sidebar*/

header {
    position: absolute;
    top: 0; //sidebar starts in top, left corner
    bottom: 0;
    height: 100vh; //sidebar take up 100% of screen height
    width: 35px;
    transition: all .2s ease-in-out; //transitions when header closes
    &.open {
        width: 30vw; //sidebar takes up 0% of screen width
        background-color: #98afc7;
        transition: all .2s ease-in-out; //transitions when header opens
    }
}

.menu-sidebar {
    z-index: 0; //allows menu-icon to be on top
}

.open .menu-sidebar {
    width: 100%;
}

.menu-sidebar .menu {
    padding: 1rem;
    list-style-type: none; //removes bullet points
    position: absolute; //these last 2 things hide menu content when header is closed
    opacity: 0;
}

.open .menu-sidebar .menu {
    position: static; //these first 2 things show menu content when header is closed
    opacity: 1;
    transition: all 0.2s ease-in-out; //text fades in when header opens
}

//Link Styling Below
.menu li {
    margin-top: 0.5rem; //spaces out menu links
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: larger;
}

.menu a:hover {
    font-style: italic;
    font-weight: bold;
}


/*Styling and animating the menu icon below*/

.menu-icon {
    width: 35px;
    cursor: pointer;
    position: absolute; //needed for icon to show on top of sidebar
    right: 0;
    top: 0;
    z-index: 2; //allows icon to show on top of sidebar
}

.menu-icon::before,
.menu-icon span,
.menu-icon::after {
    display: block;
    content: "";
    background-color: black;
    height: 5px;
    margin: 6px 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out; //transitions menu-icon
}


/*All of your CSS to transform the 3 bar menu to an X should be in .open class*/

.open .menu-icon::before {
    transform: translateY(11px) rotate(45deg);
    background-color: #fff;
}

.open .menu-icon::after {
    transform: translateY(-11px) rotate(-45deg);
    background-color: #fff;
}

.open .menu-icon span {
    transform: scale(0); //hides middle bar
}